{{- if (.Params.comments) and (in (print .Site.BaseURL) ":1313") -}}

<div class="border-top" layout-padding>
	<div id="disqus_thread"></div>
</div>
<script>
    var disqus_config = function () {
    	this.page.title = {{ .Title }};
        this.page.url = {{ .Permalink }};
        this.page.identifier = {{ .Params.disqus_identifier }};
    };
    
    (function() {
    	if (window.location.hostname == "localhost")
        	return;

        var d = document, s = d.createElement('script');
        
        s.src = '//{{- .Site.DisqusShortname -}}.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Reikalingas JavaScript palaikymas <a href="https://disqus.com/?ref_noscript" rel="nofollow">komentarams iš Disqus.</a></noscript>

{{- end -}}