# Node Modules
/node_modules

# Yarn error file
yarn-error.log

# Static files, handled by Laravel Mix
/static
inlineCSS.html

# Site build files, unwanted since Netlify
/docs
/public

# Sublime Files
**sublime-**

# Environment Variables
.env
# Hugo build lock
.hugo_build.lock
