{{- define "content" -}}
<article>

	<header class="hero is-dark is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">{{ .Title }}</h1>
				<h2 class="subtitle">{{ .Params.Subtitle }}</h2>
			</div>
		</div>
	</header>

	<section class="section">
		<div class="container">
			<div class="content">
			{{- .Content | replaceRE "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\" /></p>" "<figure><img src=\"$1\" alt=\"$2\" title=\"$2\" data-action=\"zoom\"><figcaption>$2</figcaption></figure>" | replaceRE "<h2 id=\"([^\"]+)\">([^\"]+)</h2>" "<h2 id=\"$1\" class=\"is-anchor-link\"><a href=\"#$1\">$2</a></h2>" | replaceRE "\" target=\"_blank\">" "\" target=\"_blank\" rel=\"noopener\">" | safeHTML -}}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="tags">

    		{{- range .Params.temos -}}

    		<a href="{{ "temos/" | absURL }}{{ . | urlize }}" class="tag is-info">
    			{{- . -}}
    		</a>

    		{{- end -}}
				

			</div>
		</div>
	</section>

	{{- if .Params.comments -}}
	<hr>

	<footer class="section">
		<div class="container">
			<vue-disqus 
				shortname="{{ .Site.DisqusShortname }}" 
				title="{{ .Title }}" 
				identifier="{{ .Params.disqus_identifier }}"
				url="{{ .Permalink }}"></vue-disqus>
		</div>
	</footer>
	{{- end }}

</article>
{{- end -}}
