<nav class="navbar" :class="{'has-shadow': scrollPosition}" role="navigation" aria-label="Puslapio navigacija">
	<div class="container">
		
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ .Site.BaseURL }}">
					<img src="/img/header-logo.png" alt="{{ .Site.Params.Slogan }}">
				</a>

				<div class="navbar-burger" @click="isMenuActive = !isMenuActive" :class="{'is-active':isMenuActive}">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-menu" :class="{'is-active':isMenuActive}">
				<div class="navbar-start">

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							Kategorijos
						</a>

						<div class="navbar-dropdown">
							{{ range $name, $cats := .Site.Taxonomies.categories }}
							<a class="navbar-item"
							href="{{ "categories/" | absLangURL }}{{ $name | urlize | lower}}">
								{{ if eq $name "duk" }}
									{{- "Dažniausiai užduodami klausimai" -}}
								{{ else }}
									{{-  title $name -}}
								{{ end }}
							</a>
							{{ end }}
						</div>

					</div>

				</div>
				<div class="navbar-end">
					{{ $currentPage := . }}

					{{ range .Site.Menus.main }}
						<a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
					{{ end }}
					
				</div>
			</div>
	</div>
</nav>
<div class="navbar-space"></div>

