<nav class="navbar" :class="{'has-shadow': scrollPosition}" role="navigation" aria-label="main navigation">
	<div class="container">
		
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ .Site.BaseURL }}">
					<img src="/img/temp-logo.png" alt="{{ .Site.Params.Slogan }}">
				</a>

				<button class="button navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">

					<b-dropdown hoverable>
						<a class="navbar-item" slot="trigger">
							<span>Kategorijos</span>
							<b-icon icon="arrow_drop_down"></b-icon>
						</a>
						
						{{ range $name, $cats := .Site.Taxonomies.categories }}
						<b-dropdown-item has-link>
							<a href="{{ "categories/" | absLangURL }}{{ $name | urlize | lower}}">
								{{ if eq $name "duk" }}
									{{- "Dažniausiai užduodami klausimai" -}}
								{{ else }}
									{{-  title $name -}}
								{{ end }}
							</a>
						</b-dropdown-item>
						{{ end }}
							
					</b-dropdown>

				</div>
				<div class="navbar-end">
					{{ $currentPage := . }}

					{{ range .Site.Menus.main }}
						<a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
					{{ end }}
					
				</div>
			</div>
	</div>
</nav>
<div class="navbar-space"></div>

