<!DOCTYPE html>
<head>
{{ partial "head" . }}
</head>
<body id="app" layout="row" ng-cloak>

	{{ partial "sidenav" . }}

	<div class="container" layout="column" flex role="main">

		<md-toolbar md-whiteframe="2" ng-controller="toolbarCtrl as nav">

			<div class="md-toolbar-tools" ng-hide="searchBoolean">
				<md-button ng-click="nav.toggleLeft()" class="md-icon-button" aria-label="meniu">
					<md-icon class="material-icons" ng-bind="'menu'"></md-icon>
				</md-button>

				<h2 hide-gt-md>{{ .Site.Title }}</h2>

				<span flex></span>

				<md-button class="md-icon-button" ng-click="searchBoolean = true">
					<md-icon>search</md-icon>
				</md-button>

			</div>

			<div class="md-toolbar-tools" ng-show="searchBoolean">
				<input type="text" placeholder="Paieška..."
				style="width: 100%; margin: 0; color: #fff; background-color: transparent; border: none; outline: none;">


				<md-button class="md-icon-button" ng-click="searchBoolean = false">
					<md-icon>clear</md-icon>
				</md-button>

			</div>
		</md-toolbar>
