{{ define "content" }}

<section class="hero is-medium">
	<div class="hero-body" id="indexHeader">

		<div class="container is-desktop">
			<div class="column is-half">
				<div class="title is-3 has-text-white">
					Labas Tau!
				</div>
				<div class="subtitle is-4 has-text-white subtitle-space">
					Aš,
					<span class="has-text-weight-semibold">Lukas</span>, jau daugiau kaip keturis metus domiuosi YouTube. O, kad tavo kelias būtų lengvesnis, čia savo žiniomis
					dalinuosi su
					<span class="has-text-weight-semibold">tavimi</span>.
				</div>
			</div>
			<div class="column">
				<a href="#articles" class="button is-info has-text-weight-semibold is-uppercase">Naujausi straipsniai</a>
			</div>
		</div>

		<div class="background">
			{{ readFile "/src/images/index/Header.svg" | safeHTML }}
		</div>

	</div>
</section>

<section class="section">
	<div class="container">
		<div class="title">Temos</div>

		<div class="columns is-variable is-8 is-desktop">
			<div class="column has-text-centered">
				<figure class="image-svg">
					{{ readFile "/src/images/index/verslas.svg" | safeHTML }}
				</figure>
				<div class="subtitle">Verslas su YouTube</div>
			</div>
			<div class="column has-text-centered">
				<figure class="image-svg">
					{{ readFile "/src/images/index/seo.svg" | safeHTML }}
				</figure>
				<div class="subtitle">SEO & kiti patarimai</div>
			</div>
			<div class="column has-text-centered">
				<figure class="image-svg">
					{{ readFile "/src/images/index/naujienos.svg" | safeHTML }}
				</figure>
				<div class="subtitle">Media & Naujienos</div>
			</div>
		</div>
		<p>
			Ir begalę dar... Galbūt montažo patarimų, galbūt programavimo temų, o galbūt ir patarimų keliaujant ir filmuojant.
		</p>
		<p>
			PS. Temas gali siūlyti ir tu! 👌
		</p>
	</div>
</section>

<section class="section p-t-05" id="articles">
	<div class="container">
		<div class="title">Naujausi straipsniai</div>

		<div class="columns">
			{{ range first 3 (where .Data.Pages "Section" "in" (slice "post" "duk")) }} {{ partial "post-block" . }} {{ end }}
		</div>

		<div class="has-text-centered-mobile has-text-weight-semibold is-uppercase">
			<a href="{{ (.Site.GetPage "section" "post").Permalink }}" class="button cta-all">Visi įrašai</a>
		</div>
	</div>
</section>


{{ end }}