{{ define "content" }}  

<section class="hero is-medium is-dark" id="front_section">
	<div class="hero-body">
		<div class="container">
			<div class="title is-1">
				YouTube... atraskime kartu!
			</div>
			<br>
			<div class="subtitle is-4">
				Labas! Taip tau, januoli ar panele, besislepianti už mėlynojo ekrano! <br> Aš <strong>Lukas</strong> - žmogus, užklydęs į YouTube pasaulį ir... ten užstrigęs.
			</div>
			<br>
			<!-- <a href="#content" class="button is-large is-warning is-outlined" style="text-transform: uppercase;">DAUGIAU!</a> -->
		</div>
	</div>
</section>


<section class="section">
	<div id="content" style="margin-top: -50px; padding-top: 50px"></div>
	<div class="container">

		<div class="title">Naujausi straipsniai</div>

		<div class="columns">
						
			{{ range first 3 (where .Data.Pages "Section" "in" (slice "post" "duk")) }}
			<article class="column is-4">
				<a href="{{ .Permalink }}" class="front-article-box box">
					<span class="front-article-overlay"></span>
					<span class="front-article-info">
						<time class="front-article-time" datetime="{{ .Date }}">
							{{ index $.Site.Data.men (printf "%d" .Date.Month) }} {{ .Date.Day }}, {{ .Date.Year }}
						</time>
						<strong class="front-article-title has-text-primary title is-4">{{ .Title }}</strong>
					</span>
				</a>
			</article>
			{{ end }}

		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="title">Skaičiukai</div>
		<div class="subtitle">
			Trputis iš asmeninės statistikos...
		</div>
		<div class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">konsultacjos</p>
					<p class="title">50+</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">žinutės</p>
					<p class="title">1000+</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">dar kažkas</p>
					<p class="title">15+</p>
				</div>
			</div>
		</div>
	</div>
</section>
      

{{ end }}