{{ define "content" }}  
<br>
<br>
<br>

      
<md-content layout-margin layout="column" flex>
	<div layout="row" layout-wrap>	
		{{ range where .Data.Pages "Section" "in" (slice "post" "duk") }}
			<article flex-gt-md="33" flex-gt-sm="50" flex style="min-width: 250px">	
				<md-card style="min-height: 300px">
					<md-card-header>
						<md-card-header-text class="md-subhead"> 
							<span class="md-subhead">{{ index $.Site.Data.men (printf "%d" .Date.Month) }} {{ .Date.Day }}, {{ .Date.Year }} </span>
						</md-card-header-text>
					</md-card-header>
					<!--
					{{ if isset .Params "image" }}
					<img ng-src="{{ .Image }}" class="md-card-image" alt="">
					{{end}}-->
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline"><a href="{{ .Permalink }}" style="color: #000;">{{ .Title }}</a>{{ if .Draft }} (::Draft){{ end }}</span>				
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p>{{ .Summary | plainify | safeHTML }}</p>
					</md-card-content>
					<md-card-actions layout="row" layout-align="start center">
						{{ if .Truncated }}
						<md-button href="{{ .Permalink }}">Skaityti toliau</md-button>
						{{ end }}
						<md-card-icon-actions>
							<md-button class="md-icon-button" aria-label="toggle">
								<md-icon>play circle outline</md-icon>
							</md-button>
						</md-card-icon-actions>
					</md-card-actions>
					<md-card-footer>

					</md-card-footer>
				</md-card>
			</article>	  	
		{{ end }}
	</div>
</md-content>

{{ end }}