/*
 * Sticky Navbar 
 */
.navbar {
	position: fixed; 
	top: 0; 
	left: 0;
	right: 0; 
	z-index: 1;
	opacity: .9;
	transition: box-shadow 0.5s ease-out;
}

/*
 * Add margin to page's content due fixed navbar
 */
.navbar-space {
	margin-bottom: $navbar-height;
}
// Class to negate navbar's bottom, 
// better use navbarSpace = false in front matter
.is-under {
	margin-top: -#{$navbar-height};
}

/*
 * Reset Vertical scrool
 */
html {
	overflow-y: initial;
}

/*
 * Remove :hover underlink on tags' links
 */
a.tag:hover {
	text-decoration: none;
}

/*
 * Justified text on .content paragraphs and ul elements
 * Affects single.html template
 */
.content > p, ul {
	text-align: justify;
}