/*
 * Sticky Navbar 
 */
.navbar {
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
}
.is-navbar-transparent {
	background-color: rgba($navbar-background-color, $alpha: 0);
}

/*
 * Reset Vertical scroll
 */
html {
	overflow-y: initial;
}

/*
 * Remove :hover underlink on tags' links
 */
a.tag:hover {
	text-decoration: none;
}

/*
 * Justified text on .content paragraphs and ul elements
 * Affects single.html template
 */
.content > p, ul {
	text-align: justify;
}

/*
 * Breadcrumbs 
 */
 
.breadcrumb.has-bullet-separator li + li::before {
    padding: 0 .5rem;
}
.breadcrumb {
	margin: 1rem 0;
}
// Reset bulma styles
.breadcrumb:not(:last-child) {
    margin-bottom: initial;
}
.breadcrumb li:first-child a {
    padding-left: .5rem;
}