::selection {
	// color: $blue;
	// background: $grey-lightest;
	background: $blue;
	color: $white;
}

// Smooth scroll for site
body {
	scroll-behavior: smooth;
}

// Add Hashtags for h2 linky headers
.content > h2 > a::before {
	content: "#";
	margin-left: -1em;
	position: absolute;
	color: $orange;
}
@media (max-width: $desktop) {
	.content > h2 > a::before {
		margin-left: -18.5px;
	}
}

.content > h2 > a {
	color: $grey-darker;
}


// Flex fill
html, body, #app {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	flex-flow: column;

	>.is-flex-fullheight {
		display: flex;
		flex: 1;
	}
	
	>.is-flex-centered {
		align-items: center;
		justify-content: center;
	}
}

