
/*
 *  ---------------------------------
 *	Overall UX
 *  ---------------------------------
 */

::selection {
	// color: $blue;
	// background: $grey-lightest;
	background: $blue;
	color: $white;
}
body {
	scroll-behavior: smooth;
}



/*
 *  ---------------------------------
 *	Add Hashtags for h2 linky headers
 *  ---------------------------------
 */
.content > h2 > a::before {
	content: "#";
	margin-left: -1em;
	position: absolute;
	color: $orange;
}
@media (max-width: $desktop) {
	.content > h2 > a::before {
		margin-left: -.8em;
	}
}

.content > h2 > a {
	color: $grey-darker;
}



/*
 *  ---------------------------------
 *	Flex fill
 *  ---------------------------------
 */
html, body, #app {
	min-height: 100vh;
}

#app {
	display: flex;
	flex-flow: column;

	>.is-flex-fullheight {
		display: flex;
		flex: 1;
	}
	
	>.is-flex-centered {
		align-items: center;
		justify-content: center;
	}
}



/*
 *  ---------------------------------
 *	Anchor offsetting
 *  ---------------------------------
 */
.is-anchor-link {
	margin-top: -2.8572rem !important;
	padding-top: 4rem;
}



/*
 *  ------------------------
 *	Footnotes number styling
 *  ------------------------
 */
[rel="footnote"] {
    display: inline-block;

    background-color: $white;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem; 
    font-weight: bold;

    text-align: center;
	line-height: normal;
    vertical-align: middle;

    color: $blue;
    border: 1px solid $blue;
    margin: .2rem;
}

.footnote-return > sup {
    display: inline-block;
	
	// background-color: $white;
	color: $black;
    border-radius: 25%;

    text-align: center;
    width: 2.6rem;
}

.footnote-ref:before { //Offset
	content: '';
	display: inline-block;
	position: relative;
	height: 6rem;
	margin-top: -6rem;
}

.footnotes { //Offset
	>ol {
		>li {
			margin-top: -4rem;
			padding-top: 4rem;
		}
	}
}


/*
 *  ------------------------
 *	Container spacing
 *  ------------------------
 */
.container {
	padding: 0 0.5rem;
}

/*
 *  ------------------------
 *	[Keyboard] key
 *  ------------------------
 */

.is-key {
	font-family: 'Courier New', monospace;
    text-transform: capitalize;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-radius: 5px;
}

/*
 *  ------------------------
 *	Generate figure helpers for SVG
 *  ------------------------
 */



/*
 *  ------------------------
 *	Front page
 *  ------------------------
 */
//  header image
#indexHeader > .background {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;

	> svg {
		flex: 0 0 auto;
		width: auto;
		height: 40em;
	}
}

// #indexHeader > .container {
// 	z-index: 1;
// }
// Top padding
#article, .subtitle-space {
	padding-top: 0.5em;
}
.cta-all {
	padding: 0 5em;
}


// column svg figures
.image-svg {
	margin: auto;
	max-width: 256px;
    max-height: 256px;
    width: 100%;
    height: 100%;
}


// #front_section {
// 	position: relative;

// 	&:before {
// 		content: '';
// 	 	position: absolute;
// 	 	background: blue url('/img/index_bg.jpg');
// 	 	top: 0;
// 	 	left: 0;
// 	 	width: 100%;
// 	 	height: 100%;
// 	 	opacity: .15;

// 		background-position: center;	
// 	 	background-size: cover;
//  		background-repeat: no-repeat;
//  		background-attachment: fixed;
// 	}
// }

/*
 *  ------------------------
 *	Front page articles
 *  ------------------------
 */

// .front-article-box {
// 	display: block;
// 	height: 250px;
// 	width: auto;
// 	margin-left: auto;
// 	margin-right: auto;
// 	overflow: hidden;
// 	position: relative;
// 	text-align: center;
// 	background-color: rgba(0, 0, 0, .05);
// }

// .front-article-overlay {
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	position: absolute;
// }

// .front-article-info {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	padding: 1rem;


// 	&:hover > .front-article-title {
// 		transform: scale(1.1);
// 	}
// 	&:hover > .front-article-time {
// 		transform: scale(.9);
// 	}
// }

// .front-article-title,.front-article-time {
// 	transition: all .2s ease-in-out;

// }

// .front-article-title {

// }

// .front-article-time {
// 	display: block;
// 	color: rgba(0, 0, 0, .9);

// }

/*
 *	----------------------------------
 *	Article box ::hover interactivity 
 *	----------------------------------
 */

article.tile.is-child {
	border-radius: 20px;
	box-shadow: initial;

	&:hover {
		box-shadow: 0 6px 15px rgba($black, .3);
		transform: scale(1.1);
	}
	transition: all .6s cubic-bezier(.25, .45, .2, .8);
}

// Banner image base styling
#bannerImage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: scroll;
	background-color: rgba(100, 80, 80, 0.8);
}