::selection {
	// color: $blue;
	// background: $grey-lightest;
	background: $blue;
	color: $white;
}

// Smooth scroll for site
body {
	scroll-behavior: smooth;
}

// Add Hashtags for h2 linky headers
.content > h2 > a::before {
	content: "#";
	margin-left: -1em;
	position: absolute;
	color: $orange;
}
@media (max-width: $desktop) {
	.content > h2 > a::before {
		margin-left: -18.5px;
	}
}

.content > h2 > a {
	color: $grey-darker;
}


// Flex fill
html, body, #app {
	height: 100vh;
}

#app {
	display: flex;
	flex-flow: column;

	>.is-flex-fullheight {
		display: flex;
		flex: 1;
	}
	
	>.is-flex-centered {
		align-items: center;
		justify-content: center;
	}
}

//Anchor offsetting
.is-anchor-link {
	margin-top: -4rem;
	padding-top: 4rem;
}

/*
 *  ------------------------
 *	Footnotes number styling
 *  ------------------------
 */
[rel="footnote"] {
    display: inline-block;

    background-color: $white;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem; 
    font-weight: bold;

    text-align: center;
	line-height: normal;
    vertical-align: middle;

    color: $blue;
    border: 1px solid $blue;
    margin: .2rem;
}

.footnote-return > sup {
    display: inline-block;
	
	// background-color: $white;
	color: $black;
    border-radius: 25%;

    text-align: center;
    width: 2.6rem;
}

.footnote-ref:before { //Offset
	content: '';
	display: inline-block;
	position: relative;
	height: 6rem;
	margin-top: -6rem;
}

.footnotes { //Offset
	>ol {
		>li {
			margin-top: -4rem;
			padding-top: 4rem;
		}
	}
}
